ChineseCharacterTrainer.Implementation/Service References/ServiceReference/ChineseCharacterTrainerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChineseCharacterTrainerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11002/ChineseCharacterTrainerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11002/ChineseCharacterTrainerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11002/ChineseCharacterTrainerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChineseCharacterTrainer.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChineseCharacterTrainerService_GetDictionaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionaries" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_GetDictionaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionariesResponse" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_GetDictionaryEntriesForDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionaryEntriesForDictionary" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_GetDictionaryEntriesForDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionaryEntriesForDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_GetHighscoresForDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHighscoresForDictionary" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_GetHighscoresForDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHighscoresForDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_GetDictionaryEntriesForQueryObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionaryEntriesForQueryObject" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_GetDictionaryEntriesForQueryObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictionaryEntriesForQueryObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_AddDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDictionary" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_AddDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_AddDictionaryEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDictionaryEntry" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_AddDictionaryEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDictionaryEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_AddHighscore_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHighscore" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_AddHighscore_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHighscoreResponse" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_AddAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnswer" />
  </wsdl:message>
  <wsdl:message name="IChineseCharacterTrainerService_AddAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnswerResponse" />
  </wsdl:message>
  <wsdl:portType name="IChineseCharacterTrainerService">
    <wsdl:operation name="GetDictionaries">
      <wsdl:input wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/GetDictionaries" message="tns:IChineseCharacterTrainerService_GetDictionaries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/GetDictionariesResponse" message="tns:IChineseCharacterTrainerService_GetDictionaries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDictionaryEntriesForDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/GetDictionaryEntriesForDictionary" message="tns:IChineseCharacterTrainerService_GetDictionaryEntriesForDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/GetDictionaryEntriesForDictionaryResponse" message="tns:IChineseCharacterTrainerService_GetDictionaryEntriesForDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHighscoresForDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/GetHighscoresForDictionary" message="tns:IChineseCharacterTrainerService_GetHighscoresForDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/GetHighscoresForDictionaryResponse" message="tns:IChineseCharacterTrainerService_GetHighscoresForDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDictionaryEntriesForQueryObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/GetDictionaryEntriesForQueryObject" message="tns:IChineseCharacterTrainerService_GetDictionaryEntriesForQueryObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/GetDictionaryEntriesForQueryObjectResponse" message="tns:IChineseCharacterTrainerService_GetDictionaryEntriesForQueryObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/AddDictionary" message="tns:IChineseCharacterTrainerService_AddDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/AddDictionaryResponse" message="tns:IChineseCharacterTrainerService_AddDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDictionaryEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/AddDictionaryEntry" message="tns:IChineseCharacterTrainerService_AddDictionaryEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/AddDictionaryEntryResponse" message="tns:IChineseCharacterTrainerService_AddDictionaryEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHighscore">
      <wsdl:input wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/AddHighscore" message="tns:IChineseCharacterTrainerService_AddHighscore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/AddHighscoreResponse" message="tns:IChineseCharacterTrainerService_AddHighscore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/AddAnswer" message="tns:IChineseCharacterTrainerService_AddAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChineseCharacterTrainerService/AddAnswerResponse" message="tns:IChineseCharacterTrainerService_AddAnswer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IChineseCharacterTrainerService" type="tns:IChineseCharacterTrainerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDictionaries">
      <soap:operation soapAction="http://tempuri.org/IChineseCharacterTrainerService/GetDictionaries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDictionaryEntriesForDictionary">
      <soap:operation soapAction="http://tempuri.org/IChineseCharacterTrainerService/GetDictionaryEntriesForDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHighscoresForDictionary">
      <soap:operation soapAction="http://tempuri.org/IChineseCharacterTrainerService/GetHighscoresForDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDictionaryEntriesForQueryObject">
      <soap:operation soapAction="http://tempuri.org/IChineseCharacterTrainerService/GetDictionaryEntriesForQueryObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDictionary">
      <soap:operation soapAction="http://tempuri.org/IChineseCharacterTrainerService/AddDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDictionaryEntry">
      <soap:operation soapAction="http://tempuri.org/IChineseCharacterTrainerService/AddDictionaryEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHighscore">
      <soap:operation soapAction="http://tempuri.org/IChineseCharacterTrainerService/AddHighscore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnswer">
      <soap:operation soapAction="http://tempuri.org/IChineseCharacterTrainerService/AddAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChineseCharacterTrainerService">
    <wsdl:port name="BasicHttpBinding_IChineseCharacterTrainerService" binding="tns:BasicHttpBinding_IChineseCharacterTrainerService">
      <soap:address location="http://localhost:11002/ChineseCharacterTrainerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>